.start-10{
  position: absolute;
  left: 10px;
  top: 20px;
}
.pr-5{
  padding-right: 100px;
}
.pl-5{
  padding-left: 100px;
}
.main-bg{
  background-color: rgb(210, 234, 255);
}
.btn-secondary-subtle{
  background-color: rgb(210, 234, 255);
}
.btn-secondary-subtle:hover{
  background-color: rgb(120, 192, 255);
}