@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-font{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.text-16{
  font-size: 16px;
}
.start-10{
  position: absolute;
  left: 10px;
  top: 20px;
}
.pr-5{
  padding-right: 100px;
}
.pl-5{
  padding-left: 100px;
}
.pl-2{
  padding-left: 20px;
}
.main-bg{
  background-color: rgb(235, 237, 238);
}
.btn-secondary-subtle{
  background-color: rgb(235, 237, 238);
}
.btn-secondary-subtle:hover{
  background-color: rgb(37, 19, 235);
}
.no-stock{
  background-color: #f6f0f0; /* Cambia este color al que desees para indicar que no hay stock */
}